<div class="reader_show_out">
  <h1 class="headline headline_seat_show">リーダー詳細表示画面</h1>
  <p><%=image_tag @reader_show.image%></p>
  <p>名前</p>
  <p><%=@reader_show.name%></p>
  <p>役職</p>
  <p class="reader_show_word-wrap"><%=positioncolumn_change_number_to_string(@reader_show.position)%></p>
  <p>学習内容</p>
  <p class="reader_show_word-wrap"><%=@reader_show.curriculum%></p>
  <p>学習目標</p>
  <p class="reader_show_word-wrap"><%=@reader_show.learning_goal%></p>
  <p>得意分野</p>
  <p class="reader_show_word-wrap"><%=@reader_show.ability%></p>
  <p>配属プロジェクト</p>
  <p class="reader_show_word-wrap"><%=@reader_show.project%></p>
</div>
