<div class="reader_show_out">
  <h1 class="headline headline_seat_show">リーダー詳細表示画面</h1>
  <p><%= image_tag @reader_show.image%></p>
  <table>
    <tr>
      <th>名前</th>
      <td><%= @reader_show.name%></td>
    </tr>
    <tr>
      <th>役職</th>
      <td><%= positioncolumn_change_number_to_string(@reader_show.position)%></td>
    </tr>
    <tr>
      <th>学習内容</th>
      <td><%= @reader_show.curriculum%></td>
    </tr>
    <tr>
      <th>学習目標</th>
      <td><%= @reader_show.learning_goal%></td>
    </tr>
    <tr>
      <th>得意分野</th>
      <td><%= @reader_show.ability%></td>
    </tr>
    <tr>
      <th>配属プロジェクト</th>
      <td><%= @reader_show.project%></td>
    </tr>
  </table>
  <div class="btn btn-default">
    <%= link_to '戻る', :back %>
  </div>
</div>
