<h1>リーダー詳細表示画面</h1>
<p>名前:<%=@reader_show.name%></p>
<p>学習内容:<%=@reader_show.curriculum%></p>
<p>学習目標:<%=@reader_show.learning_goal%></p>
<p>得意分野:<%=@reader_show.ability%></p>
<p>配属プロジェクト:<%=@reader_show.project%></p>
<p>役職:<%=positioncolumn_change_number_to_string(@reader_show.position)%></p>
<p>画像<%=image_tag @reader_show.image%></p>
