<h1>リーダー詳細表示画面</h1>
<p>名前:<%=@reader_show.name%></p>
<p>学習内容:<%=@reader_show.curriculum%></p>
<p>学習目標:<%=@reader_show.learning_goal%></p>
<p>知識:<%=@reader_show.ability%></p>
<p>名前:<%=@reader_show.project%></p>
