<div class="user_edit_error_msg">
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</div>
<div class="user_edit_out">

  <%=form_with(model:@user,local:true) do |f|%>
  <%=f.label:名前%>
  <p><%=f.text_field:name%></p>
  <%=f.label:メールアドレス%>
  <p><%=f.text_field:email%></p>
  <%=f.label:学習内容%>
  <p><%=f.text_area:curriculum%></p>
  <%=f.label:学習目標%>
  <p><%=f.text_area:learning_goal%></p>
  <%=f.label:得意分野%>
  <p><%=f.text_area:ability%></p>
  <%=f.label:配属プロジェクト%>
  <p><%=f.text_field:project%></p>
  <%=f.label:役職%>
  <p><%=f.select:position,[['一般',0],['リーダー',1]]%></p>
  <%=f.label:画像%>
  <p><%=f.file_field:image%></p>

  <p><%=f.submit:プロフィールを更新%></p>
  <%end%>
</div>
