<div class ="learner_index_out">
  <h1 class="headline headline_learner_index">全学習者一覧画面</h1>
  <div class ="learner_index_table">
    <table>
      <tr>
        <% @learner_all.each do |learner|%>
        <%if @current_user.position == 0%>
          <td class="learner_name_width"><%= learner.name%></td>
          <td><%= link_to '詳細', learner_path(learner.id)%></td>
          <td><%= render 'follow_form', learner: learner %></td>
          <td><%= image_tag learner.image%></td>
        <%else%>
          <td class="learner_name_width"><%= learner.name%></td>
          <td class="learner_buttons"><span><%= link_to '詳細', learner_path(learner.id)%></span><br>
              <span><%= link_to '役職変更', edit_user_path(learner.id)%></span><br>
              <span><%= render 'follow_form', learner: learner %></span></td>
          <td><%= image_tag learner.image%></td>
        <%end%>
      </tr>
      <%end%>
    </table>
    <%= paginate(@learner_all) %>
  </div>
</div>
