<h1>学習者詳細画面</h1>
<p>名前:<%=@learner_show.name%></p>
<p>学習内容:<%=@learner_show.curriculum%></p>
<p>学習目標:<%=@learner_show.learning_goal%></p>
<p>知識:<%=@learner_show.ability%></p>
<p>配属プロジェクト:<%=@learner_show.project%></p>
<p>画像:<%=image_tag @learner_show.image%></p>
