<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>学習状況と空席確認アプリ</title>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <nav>
      <div class = "real_time">
        <p id ="real_time"></p>
      </div>
      <div class = "header_url" >
        <% if user_signed_in?%>
        <%= link_to "ユーザープロフィール",user_path(current_user.id)%>
        <%= link_to "座席状況一覧表示画面",seats_path %>
        <%= link_to "全リーダー一覧画面",readers_path %>
        <%= link_to "全学習者一覧画面",learners_path %>
        <%= link_to "座席数入力画面",new_all_seat_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%else%>
        <%= link_to "トップ", top_seats_path %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
        <%end%>
      </div>
    </nav>
    <p class="meg"><%=notice%></p>
  </header>
  <div class ="message">
    <% if flash[:error].present? %>
    <% flash[:error].each do |message| %>
    <%= message%>
    <% end %>
    <% end %>
  </div>
  <%= yield %>
  <footer>Dive into code 卒業課題</footer>
</body>
</html>
